/*box shadow:
box-shadow: inset -1px -1px #FFFFFF,
inset 1px 1px #808080,inset -2px -2px #FFFFFF,
inset 2px 2px #808080,inset -3px -3px #FFFFFF,
inset 3.25px 3.25px #808080;*/

/*
Standard grey: rgb(192, 192, 192); #C0C0C0;
Darker grey: rgb(128, 128, 128); #808080;
*/

@font-face {
    font-family: windows98;
    src: url("fonts/windows98.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: windows98, sans-serif;
    user-select: none;
}

body {
    background-color: rgb(0, 128, 128);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    color: #FFFFFF;
    overflow: hidden;
}

dialog {
    padding: 3px;
    margin: 15vh auto;
    border: none;
}

div > img {
    width: 100%;
    /*height: 100%;*/
    object-fit: contain;
}


.indent {
    background-color: rgb(192, 192, 192);
    box-shadow: inset -1px -1px #FFFFFF,
    inset 1px 1px #808080,
    inset -2px -2px #FFFFFF,
    inset 2px 2px #808080,
    inset -3px -3px #FFFFFF,
    inset 3.25px 3.25px #808080;
}

.extrude {
    background-color: rgb(192, 192, 192);
    box-shadow: inset -1px -1px #808080,
    inset 1px 1px #FFFFFF,
    inset -2px -2px #808080,
    inset 2px 2px #FFFFFF,
    inset -3px -3px #808080,
    inset 3.25px 3.25px #FFFFFF;
}

#desktop {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.shortcut {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    justify-content: space-evenly;
    cursor: pointer;
}

.shortcut > div {
    width: 50px;
    height: 50px;
}

.shortcut > p {
    font-size: 15px;
}

.window_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: darkblue;
    color: white;
    height: 30px;
    padding: 5px 2px;
}

.program_name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.program_name > div {
    max-width: 25px;
    display: flex;
    align-items: center;
}

.program_name > h3 {
    font-size: 1rem;
}

.window_buttons {
    display: flex;
    flex-direction: row;
    padding: 2px;
    gap: 2px;
    cursor: pointer;
}

.window_button {
    width: 20px;
    height: 20px;
    padding: 4px;
    display: flex;
    align-items: center;
    box-shadow: inset -1px -1px #808080,
    inset 1px 1px #FFFFFF,
    inset -2px -2px #404040,
    inset 2px 2px #FFFFFF;
    background-color: rgb(192, 192, 192);
}

.window_button img {
    width: 100%;
    object-fit: contain;
}

#minesweeper_window {
    width: fit-content;
    height: fit-content;
}

.window_body {
    display: flex;
    flex-direction: row;
    padding: 2px 5px;
    gap: 10px;
}

.settings {
    position: relative;
    display: inline-block;
}

#minesweeper_settings_dropdown {
    position: absolute;
    display: none;
    padding: 6px 8px;
    width: 200px;
}

#minesweeper_settings_dropdown_button {
    cursor: pointer;
}

#minesweeper_settings_dropdown_button:active {
    background-color: rgb(192, 192, 192);
    box-shadow: inset -1px -1px #FFFFFF,
    inset 1px 1px #808080,
    inset -2px -2px #FFFFFF,
    inset 2px 2px #808080,
    inset -3px -3px #FFFFFF,
    inset 3.25px 3.25px #808080;
}

#minesweeper_settings > div {
    box-shadow: inset 0 -1px #808080,
    inset 0 -2px #FFFFFF;
    padding: 3px;
}

#minesweeper_settings > div:last-child {
    box-shadow: none;
}

#reset_minesweeper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#minesweeper_settings {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#difficulties {
    display: flex;
    flex-direction: column;
}

#minesweeper_container {
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#minesweeper_stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
}

#mine_count,
#timer {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: black;
    gap: 2px;
}

#mine_count > div,
#timer > div {
    max-width: 22px;
    max-height: 42px;
}

#smiley {
    display: flex;
    align-items: center;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

#smiley > div {
    max-height: 42px;
    max-width: 42px;
}

#minesweeper_field {
    display: grid;
    padding: 3px;
}

.tile {
    background-color: rgb(192, 192, 192);
    padding: 5px;
    display: flex;
    align-items: center;
    border: rgb(128, 128, 128) solid 1px;
}

.tile img {
    object-fit: contain;
}

.filled {
    box-shadow: inset -1px -1px #808080,
    inset 1px 1px #FFFFFF,
    inset -2px -2px #404040,
    inset 2px 2px #FFFFFF,
    inset -3px -3px #404040,
    inset 3.25px 3.25px #FFFFFF;
    border: none;
}

.filled img {
    display: none;
}

div[data-flag='true'] img,
div[data-question='true'] img {
    display: block;
}

.exploded {
    background-color: red;
}

#arcade_stats {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px;
}

#arcade_streak_counter {
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 6px;
}

#arcade_streak_counter > div {
    max-width: 22px;
    max-height: 42px;
}

#next_button {
    width: 42px;
    height: 42px;
    padding: 6px;
}

#next_button.ok {
    cursor: pointer;
}

footer {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    max-height: 50px;
    font-size: 20px;
    color: black;
}

footer p,
.shortcut p {
    margin: 0;
    text-align: center;
}

#start_button {
    padding: 2px 5px;
    display: flex;
    gap: 3px;
    font-weight: bolder;
    font-size: 26px;
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
}

#start_button div {
    width: 28px;
    height: 28px;
}

#time_display {
    padding: 6px;
}

.hidden {
    display: none;
}